html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  scroll-behavior: smooth;
  --shine-top: -60px;
  --shine-left: -50px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  transition: all 200ms cubic-bezier(0.6, -0.1, 0.74, 0.05);
}
*::-moz-selection {
  background: rgba(129, 28, 115, 0.2);
  color: #4d00ad;
}
*::-webkit-selection {
  background: rgba(129, 28, 115, 0.2);
  color: #4d00ad;
}
*::selection {
  background: rgba(129, 28, 115, 0.2);
  color: #4d00ad;
}

h1, h2, h3, h4, h5, h6, .title, .heading {
  font-family: "BebasNeueBold", -apple-system, Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
}

body {
  font-family: "DDINRegular", -apple-system, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  max-width: 100vw;
  margin: 0;
  display: block;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background: #4d00ad;
  border-radius: 0px;
}

.frame--bottom {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 2em;
  background: #4d00ad;
  z-index: 10000;
}

.frame--top {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 2em;
  background: #4d00ad;
  z-index: 10000;
}

.content--container {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2em solid #4d00ad;
  border-bottom-width: 0;
  border-top-width: 0;
}
.content--container .sections {
  display: block;
  position: relative;
  min-width: 960px;
  width: calc(100vw);
  padding: 200px 200px 20px;
  margin: 0;
}
.content--container .sections .section--title {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "BebasNeueBold";
  background: black;
  display: inline-block;
  padding: 5px 10px 0;
  color: white;
  letter-spacing: 2px;
}
.content--container .sections .section--title:before {
  content: "";
  background: black;
  position: absolute;
  width: calc(100% - $page-margin - $page-margin);
  left: 200px;
  top: 215px;
  height: 1px;
  z-index: -1;
}
.content--container .sections.hero {
  padding: 35vh 200px 0;
}
.content--container .sections.hero .hero--banner {
  width: 100%;
}
.content--container .sections.hero .hero--banner .hero--banner-image {
  width: 100%;
  mask: url("../files/v6/pb-name-horizontal-black.svg");
}
.content--container .sections.hero .hero--banner .hero--subheading {
  font-family: "BebasNeueBold";
  margin: 16px 0 24px;
  font-size: 2em;
  letter-spacing: 2px;
}
.content--container .sections.about {
  padding-top: 20px;
}
.content--container .sections.about p {
  font-size: 1.5em;
}
.content--container .sections.about .social-links {
  margin: 0;
  margin-top: 10px;
}
.content--container .sections.about .social-links li.social-link {
  color: #4d00ad;
  padding: 4px 10px;
  border-bottom: 1px solid rgba(77, 0, 173, 0.6);
}
.content--container .sections.about .social-links li.social-link a {
  text-decoration: none;
}
.content--container .sections.work .section--content {
  margin-top: 40px;
}
.content--container .sections.work .section--content .work--tile-container {
  display: inline-block;
  height: 240px;
  position: relative;
}
.content--container .sections.work .section--content .work--tile-container.full {
  width: 100%;
  margin-bottom: 32px;
  padding-right: 20px;
}
.content--container .sections.work .section--content .work--tile-container.by-two {
  width: calc(50% - 12px);
  min-width: 100px;
  margin-left: 20px;
  margin-bottom: 32px;
  padding-right: 20px;
  position: relative;
}
.content--container .sections.work .section--content .work--tile-container.by-two:nth-child(odd) {
  margin-left: 0;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--shadow {
  width: 100%;
  height: 100%;
  background: #3f11a2;
  filter: blur(24px);
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0;
  transform: scale(0.91) translateY(20px);
}
.content--container .sections.work .section--content .work--tile-container .work-tile--layer {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--overlay {
  height: 100%;
  padding: 20px;
  width: 100%;
  position: relative;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--img {
  width: 30%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-position: 50%;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--img img {
  max-height: 100%;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content {
  width: 69%;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content .project--title {
  font-family: "BebasNeueBold", -apple-system, Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 10px;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content .project--excerpt {
  font-family: "DDINRegular", -apple-system, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  opacity: 0.5;
}
.content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content .project--cta, .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content a {
  padding: 0.8rem 1rem;
  background: #4d00ad;
  background: linear-gradient(135deg, #7529d6, #4d00ad);
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.7rem;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  box-shadow: 0 4px 18px 0 rgba(86, 19, 179, 0.1);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 10px;
    line-height: 1.4;
  }

  .frame--bottom, .frame--top {
    display: none;
  }

  .content--container {
    border: 1.4em solid transparent;
  }
  .content--container .sections {
    min-width: calc(100% - 40px);
    padding: 20px;
    width: 100%;
  }
  .content--container .sections .section--title {
    font-size: 1.8em;
    margin-top: 40px;
  }
  .content--container .sections.hero {
    padding: 10vh 20px 0;
  }
  .content--container .sections.hero .hero--banner {
    width: 100%;
  }
  .content--container .sections.about p {
    font-size: 2em;
  }
  .content--container .sections.about .social-links {
    margin: 0;
    margin-top: 10px;
  }
  .content--container .sections.about .social-links li.social-link {
    display: inline-block;
    border-bottom: 1px solid rgba(77, 0, 173, 0.6);
    font-size: 1.4em;
    padding: 0;
    margin-right: 1.2em;
  }
  .content--container .sections.about .social-links li.social-link:last-child {
    margin-right: 0;
  }
  .content--container .sections.work .section--content .work--tile-container.work--tile-container {
    display: block;
    width: 100%;
    margin: 32px 0;
    height: auto;
    padding: 0;
  }
  .content--container .sections.work .section--content .work--tile-container.work--tile-container .work-tile--shadow {
    height: 100%;
  }
  .content--container .sections.work .section--content .work--tile-container.work--tile-container .work-tile--layer {
    height: 100%;
  }
  .content--container .sections.work .section--content .work--tile-container.work--tile-container .work-tile--overlay {
    height: fit-content;
  }
  .content--container .sections.work .section--content .work--tile-container.work--tile-container .work-tile--overlay .project--img {
    display: block;
    width: calc(100% + 40px);
    height: 300px;
    margin-bottom: 20px;
    transform: translate(-20px, -20px);
    border-radius: 6px 6px 0 0;
  }
  .content--container .sections.work .section--content .work--tile-container.work--tile-container .work-tile--overlay .project--content {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .content--container .sections.work .section--content .work--tile-container.work--tile-container .work-tile--overlay .project--content .project--cta {
    display: block;
  }
}
@media only screen and (min-device-width: 960px) {
  .content--container .sections.about .social-links {
    margin: 0;
    margin-top: 10px;
  }
  .content--container .sections.about .social-links li.social-link {
    display: inline-block;
    margin-right: 20px;
    color: #4d00ad;
    padding: 4px 10px;
    border-bottom: 1px solid rgba(77, 0, 173, 0.6);
  }
  .content--container .sections.about .social-links li.social-link:first-child {
    padding-left: 0;
  }
  .content--container .sections.about .social-links li.social-link:last-child {
    padding-right: 0;
  }
  .content--container .sections.about .social-links li.social-link:hover {
    background: #4d00ad;
    color: white;
  }
  .content--container .sections.about .social-links li.social-link:hover:first-child {
    padding-left: 10px;
    color: white;
  }
  .content--container .sections.about .social-links li.social-link:hover:last-child {
    padding-right: 10px;
  }
  .content--container .sections.about .social-links li.social-link a {
    text-decoration: none;
    color: #4d00ad;
  }
  .content--container .sections.about .social-links li.social-link a:hover {
    color: white;
  }
  .content--container .sections.work {
    padding-bottom: 100px;
  }
  .content--container .sections.work .section--content .work--tile-container {
    display: inline-block;
  }
  .content--container .sections.work .section--content .work--tile-container:hover {
    transform: scale(1.05);
  }
  .content--container .sections.work .section--content .work--tile-container:hover .work-tile--shadow {
    opacity: 0.5;
  }
  .content--container .sections.work .section--content .work--tile-container:hover .work-tile--overlay .project--img {
    transform: scale(1.203);
    border-radius: 6px 0 0 6px;
  }
  .content--container .sections.work .section--content .work--tile-container:hover .work-tile--overlay .project--content {
    transform: translateX(20px);
  }
  .content--container .sections.work .section--content .work--tile-container:hover .work-tile--overlay .project--content .project--cta, .content--container .sections.work .section--content .work--tile-container:hover .work-tile--overlay .project--content a {
    opacity: 1;
    transform: translate(0, 0);
  }
  .content--container .sections.work .section--content .work--tile-container:hover .work-tile--shine {
    transform: scale(1.1) translate(40px, 0px);
    opacity: 0.5;
  }
  .content--container .sections.work .section--content .work--tile-container.full {
    width: 100%;
    margin-bottom: 32px;
    padding-right: 20px;
  }
  .content--container .sections.work .section--content .work--tile-container.by-two {
    width: calc(50% - 12px);
    min-width: 100px;
    margin-left: 20px;
    margin-bottom: 32px;
    padding-right: 20px;
  }
  .content--container .sections.work .section--content .work--tile-container.by-two:nth-child(odd) {
    margin-left: 0;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--shadow {
    transform: scale(0.9) translateY(20px);
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--layer {
    background: linear-gradient(-90deg, white, #fbfbfb);
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--shine {
    position: absolute;
    top: -60px;
    left: -50px;
    width: 200px;
    height: 200px;
    background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, 0.5), #ffffff00);
    opacity: 0.7;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--overlay {
    padding: 20px;
    position: relative;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--img {
    width: 30%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-position: 50%;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--img img {
    max-height: 100%;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content {
    width: 69%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    height: 100%;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content .project--title {
    font-size: 2rem;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content .project--excerpt {
    font-size: 1.2rem;
  }
  .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content .project--cta, .content--container .sections.work .section--content .work--tile-container .work-tile--overlay .project--content a {
    padding: 0.8rem 1rem;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.7rem;
    margin-top: 1rem;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 80ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}

/*# sourceMappingURL=main_v6.css.map */
